mixin keymap-item(shortcut)
    tr
        td.keymap__shortcut
            each key in shortcut
                .key(class = 'key_' + key)
        td.keymap__descr
            block


doctype
html.mac
    head
        meta(charset='utf-8')
        link(rel='stylesheet' href='index.css')
    body
        .content
            table.keymap
                tr
                    td.keymap__shortcut
                        .arrow-box
                            .key.key_left
                        .arrow-box.arrow-box_middle
                            .key.key_top
                            br
                            .key.key_bottom
                        .arrow-box
                            .key.key_right
                    td.keymap__descr выбрать узел:
                        .sub-descr
                            .sub-descr__item родительский
                            .sub-descr__item
                                | предыдущий
                                br
                                | следующий
                            .sub-descr__item вложенный

                tr
                    td.keymap__shortcut
                        .key.key_shift
                        .arrow-box
                            .key.key_top
                            br
                            .key.key_bottom
                    td.keymap__descr
                        | добавить к выделенному
                        .sub-descr
                            .sub-descr__item
                                | предыдущий
                                br
                                | следующий
                        | узел

                +keymap-item(['ctrl', 'a']) выделить все узлы одного родителя


                +keymap-item(['tab']) добавить внутрь
                +keymap-item(['shift', 'tab']) добавить во вне

                +keymap-item(['return']) добавить после
                +keymap-item(['shift', 'return']) добавить перед

                +keymap-item(['ctrl', 'd']) дублировать

                tr
                    td.keymap__shortcut
                        .key.key_alt
                        .arrow-box
                            .key.key_top
                            br
                            .key.key_bottom
                    td.keymap__descr
                        | переместить на
                        .sub-descr
                            .sub-descr__item
                                | предыдущую
                                br
                                | следующую
                        | позицию

                +keymap-item(['delete']) удалить

                +keymap-item(['f2']) редактировать
                +keymap-item(['esc']) отменить редактирование



                +keymap-item(['ctrl', 'c']) копировать
                +keymap-item(['ctrl', 'x']) вырезать
                +keymap-item(['ctrl', 'v']) вставить

                +keymap-item(['ctrl', 'z']) отменить
                +keymap-item(['ctrl', 'y']) вернуть
