mixin keymap-item(shortcut)
    tr
        td.keymap__shortcut
            each key in shortcut
                .key(class = 'key_' + key)
        td.keymap__descr
            block


doctype
html.mac
    head
        meta(charset='utf-8')
        link(rel='stylesheet' href='index.css')
    body
        .content
            table.keymap
                +keymap-item(['tab']) добавить внутрь
                +keymap-item(['shift', 'tab']) упаковать
                +keymap-item(['return']) добавить после
                +keymap-item(['shift', 'return']) добавить перед
                +keymap-item(['delete']) удалить
                +keymap-item(['ctrl', 'a']) выбрать все узлы одного родителя
                +keymap-item(['ctrl', 'c']) копировать
                +keymap-item(['ctrl', 'd']) дублировать
                +keymap-item(['ctrl', 'v']) вставить
                +keymap-item(['ctrl', 'x']) вырезать
                +keymap-item(['ctrl', 'z']) отменить
                +keymap-item(['ctrl', 'y']) вернуть
