doctype
html
    head
        meta(charset='utf-8')
        <meta name="viewport" content="width=1140">
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Mono:400&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        link(rel='stylesheet' href='index.css')
        title NestedNode
    body
        .header
            .header__title
                .nn-logo
                    .nn-logo__part1 Nested
                    .nn-logo__part2 Node
            .header__descr.
                Расширяемый редактор<br>
                древовидных структур данных

        .demo
            .demo__editor-box
            .demo__keymap-box
                include ./keymap.jade

        .info
            .info__box
                .pkg
                    .pkg__install-cmd bower install nn-nested-node
                    .pkg__descr.pkg__descr_compact.
                        пакет с&#160;базовыми компонентами для&#160;построения редактора под&#160;требуемый
                        тип&#160;узлов
                    a.pkg__repo-link(href='https://github.com/nestednode/nn-nested-node') GitHub
                .pkg
                    .pkg__inherits
                    .pkg__install-cmd bower install nn-nested-text
                    .pkg__descr.
                        редактор вложенных текстовых&#160;узлов
                    a.pkg__repo-link(href='https://github.com/nestednode/nn-nested-text') GitHub
            .info__box
                .info__item.
                    Язык программирования — <em class='info__em'>TypeScript</em>
                .info__item.
                    Пользовательский интерфейс — <em class='info__em'>React</em>-компоненты
                .info__item.
                    Модули — <em class='info__em'>AMD</em>
                .info__item.
                    Пакеты — <em class='info__em'>Bower</em>
                .info__item.
                    Сборщик — <em class='info__em'>Gulp</em>
            .info__box-clear
        .code
            include ./code.html

        .footer
            .footer__text
                a.footer__link(href='https://www.flickr.com/photos/asphericlens/4448352145/')
                    img.footer__img(src='img/tree-orig-preview.jpg')
                .footer__p.
                    В&#160;оформлении использована работа
                    «<a class="footer__link" href='https://www.flickr.com/photos/asphericlens/4448352145/'>single&#160;tree</a>»
                    (автор фотографии <a class="footer__link" href='https://www.flickr.com/people/asphericlens/'>skoeber</a>,
                    лицензия <a class="footer__link" href='https://creativecommons.org/licenses/by-nc-sa/2.0/'>CC BY-NC-SA 2.0</a>).
                .footer__p.
                    Исходное изображение было модифицировано: повернуто на&#160;90°, кадрировано
                    и&#160;применено в&#160;качестве фона для&#160;заглавия сайта.
                .footer__p.

        //-script(src='bower_components/requirejs/require.js' data-main='index.js')
        script(src='bundle.js')
