mixin keymap__entry(shortcut, mod)
    .keymap__entry(class = mod ? 'keymap__entry_' + mod : '')
        .keymap__shortcut
            each key in shortcut
                .key(class = 'key_' + key)
        if (mod == 'compact')
            br
        .keymap__descr
            block


.keymap

    .keymap__entry-group

        .keymap__entry
            .keymap__shortcut
                .keymap__shortcut-box
                    .key.key_left
                .keymap__shortcut-box.keymap__shortcut-box_with-margin
                    .key.key_top
                    br
                    .key.key_bottom
                .keymap__shortcut-box
                    .key.key_right
            .keymap__descr выбрать узел:
                .keymap__sub-descr
                    .keymap__sub-descr-item родительский
                    .keymap__sub-descr-item
                        | предыдущий
                        br
                        | следующий
                    .keymap__sub-descr-item вложенный

        .keymap__entry
            .keymap__shortcut
                .key.key_shift
                .keymap__shortcut-box
                    .key.key_top
                    br
                    .key.key_bottom
            .keymap__descr
                | добавить
                .keymap__sub-descr
                    .keymap__sub-descr-item
                        | предыдущий
                        br
                        | следующий
                | к выбранному

        +keymap__entry(['ctrl', 'a']) выбрать все соседние узлы

    .keymap__entry-group.keymap__entry-group_compact

        +keymap__entry(['space'], 'inline') редактировать
        .keymap__sub-entry-box
            +keymap__entry(['esc']) отменить ввод
            +keymap__entry(['return']) подтвердить

    .keymap__column

        .keymap__entry-group

            +keymap__entry(['tab']) добавить внутрь
            +keymap__entry(['shift', 'tab']) обернуть

            +keymap__entry(['return']) добавить после
            +keymap__entry(['shift', 'return']) добавить перед

            .keymap__entry
                .keymap__shortcut
                    .key.key_alt
                    .keymap__shortcut-box
                        .key.key_top
                        br
                        .key.key_bottom
                .keymap__descr
                    | поместить
                    .keymap__sub-descr
                        .keymap__sub-descr-item
                            | перед
                            br
                            | после

            +keymap__entry(['ctrl', 'd']) дублировать

            +keymap__entry(['delete']) удалить

    .keymap__column

        .keymap__entry-group

            +keymap__entry(['ctrl', 'x'], 'compact') вырезать
            br
            +keymap__entry(['ctrl', 'c'], 'compact') копировать
            br
            +keymap__entry(['ctrl', 'v'], 'compact') вставить

        .keymap__entry-group

            +keymap__entry(['ctrl', 'z'], 'compact') отменить
            br
            +keymap__entry(['ctrl', 'y'], 'compact') вернуть
