html {
  margin: 0;
}
.keymap {
  margin: 0 auto;
  max-width: 800px;
  background: #fff;
  border-spacing: 25px 10px;
}
.keymap__shortcut {
  text-align: right;
  vertical-align: top;
  white-space: nowrap;
}
.keymap__descr {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.6;
  vertical-align: middle;
}
.key {
  display: inline-block;
  position: relative;
  border-radius: 5px;
  height: 49px;
  background-color: #333333;
  background-image: url('img/keys.svg');
  background-repeat: no-repeat;
}
.key_a {
  background-position-y: -500px;
  width: 51px;
  background-position-x: center;
}
.key_c {
  background-position-y: -550px;
  width: 51px;
  background-position-x: center;
}
.key_d {
  background-position-y: -600px;
  width: 51px;
  background-position-x: center;
}
.key_v {
  background-position-y: -650px;
  width: 51px;
  background-position-x: center;
}
.key_x {
  background-position-y: -700px;
  width: 51px;
  background-position-x: center;
}
.key_y {
  background-position-y: -750px;
  width: 51px;
  background-position-x: center;
}
.key_z {
  background-position-y: -800px;
  width: 51px;
  background-position-x: center;
}
.key_esc {
  background-position-y: -250px;
  width: 60px;
}
.key_tab {
  background-position-y: -300px;
  width: 80px;
}
.key_delete {
  background-position-y: -350px;
  width: 90px;
}
.key_return {
  background-position-y: -400px;
  width: 100px;
}
.key_f2 {
  background-position-y: -450px;
  width: 60px;
}
.key_shift {
  margin-right: -10px;
  width: 120px;
  background: -webkit-linear-gradient(0, #333333 40%, #ffffff 90%);
}
.key_shift:before {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  border-radius: 5px;
  background-color: #ffffff;
  background-image: url('img/keys.svg');
  background-repeat: no-repeat;
  background-position-y: -1px;
}
.key_ctrl {
  margin-right: -10px;
  width: 100px;
  background: -webkit-linear-gradient(0, #333333 40%, #ffffff 90%);
}
.key_ctrl:before {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  border-radius: 5px;
  background-color: #ffffff;
  background-image: url('img/keys.svg');
  background-repeat: no-repeat;
  background-position-y: -51px;
}
html.mac .key_ctrl {
  width: 130px;
}
html.mac .key_ctrl:before {
  background-position-y: -101px;
}
.key_alt {
  margin-right: -10px;
  width: 100px;
  background: -webkit-linear-gradient(0, #333333 40%, #ffffff 90%);
}
.key_alt:before {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  border-radius: 5px;
  background-color: #ffffff;
  background-image: url('img/keys.svg');
  background-repeat: no-repeat;
  background-position-y: -151px;
}
html.mac .key_alt {
  width: 130px;
}
html.mac .key_alt:before {
  background-position-y: -201px;
}
