@charset "UTF-8";

html {
    height: 100%;
}

body {
    display: inline-block;
    margin: 0;
    min-width: 100%;
}


@red: #c31100;
@red-bg: #a50e00;
@font-family: 'Roboto Condensed', sans-serif;
@m: 125px;

.header {
    position: relative;
    display: inline-block;
    min-width: 100%;
    height: 624px;
    background-color: #979797;
    background-image: url('img/tree.jpg');
    background-repeat: no-repeat;
    border-bottom: 16px solid @red-bg;


    &__title {
        margin: 135px 0 0 @m;
    }

    &__descr {
        position: absolute;
        bottom: 50px;
        left: @m;
        font-family: @font-family;
        font-size: 12pt;
        line-height: 1.4;
        font-weight: 300;
        color: @red;
    }
}


.nn-logo {
    font-family: @font-family;
    font-size: 18pt;
    font-weight: 400;
    color: @red;

    &__part1 {
        display: inline-block;
    }

    &__part2 {
        @m: 11px;
        display: inline-block;
        margin-left: @m;
        border: solid 2px rgba(111, 111, 111, 0.7);
        @r: 7px;
        border-top-left-radius: @r;
        border-bottom-left-radius: @r;
        padding: 2px (@m + 3px) 2px @m;
    }
}


.demo {
    display: -webkit-flex;
    display: flex;
    min-width: 100%;
    background: #464646;

    &__editor-box {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
        -webkit-align-self: center;
        align-self: center;

        .nn { margin: 0 auto; } //fixme
    }

    &__keymap-box {
        vertical-align: top;
    }
}

@import (inline) 'bower_components/nn-nested-node/lib/NestedNodeStyle/NestedNodeStyle.css';

@import 'keymap.less';


@code-bg: #F0F0F0;


.info {
    background: @red-bg;
    color: #ececec;
    font-family: @font-family;
    font-size: 12pt;
    line-height: 1.4;
    font-weight: 300;
    padding-left: @m - 60px;


    &__box {
        float: left;
        margin: 40px 40px 0 60px;
        width: 25em;
    }

    &__box-clear {
        clear: both;
    }

    &__item {
        margin-bottom: 26px;

        &:first-child {
            margin-top: 2px;
        }
    }


    &__em {
        font-style: normal;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    }
}

.pkg {
    margin-bottom: 30px;
    position: relative;

    &__install-cmd {
        display: block;
        margin-bottom: 5px;
        font-family: 'Roboto Mono', monospace;
        font-size: 15pt;
        white-space: nowrap;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);

        &:before {
            content: '> ';
        }
    }

    &__descr {
        margin-bottom: 10px;

        &_compact {
            width: 15em;
        }

    }

    &__repo-link {
        display: inline-block;
        color: #64A9ED;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
        font-weight: 500;
    }

    &__inherits {
        position: absolute;
        top: -130px;
        right: 40px;
        width: 2em;
        color: rgba(0, 0, 0, 0.2);

        &:before {
            content: '△';
            vertical-align: top;
        }

        &:after {
            content: '';
            display: inline-block;
            border-left: solid 1px;
            height: 108px;
            margin-top: 1em;
            margin-left: -0.5em;
        }
    }
}


.code {
    padding: 60px 60px 60px @m;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 10.3pt;
    line-height: 1.5;
    background-color: @code-bg;
    //color: #980D00;
    color: @red;

    .s1 {color: #000000}
    .s2 {color: #011993}
    .s3 {color: #7b248d}
    .s4 {color: #96862F}
    .s5 {color: #099609}
    .s6 {color: #2C8B8C}

    a {color: #006EDA;}

}


.footer {
    background: #A9A9A9;
    padding: 40px 40px 10px @m;
    font-family: @font-family;
    font-size: 11pt;
    line-height: 1.4;
    font-weight: 300;


    &__text {
        &:after {
            content: '';
            clear: both;
            display: block;
        }
    }

    &__img {
        float: left;
        margin-right: 40px;
        margin-bottom: 30px;
    }


    &__p {
        margin-bottom: 12px;
    }

    &__link {
        color: #fff;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
        white-space: nowrap;
    }

}
